# Скомпилированные файлы Java
*.class
*.jar
*.war
*.ear

# Папки сборки
target/
build/
out/

# мои папки
api/
python-project/
telegramBots/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Gradle
.gradle/
gradle-wrapper.jar

# Maven
*.md5
*.sha1

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Переменные окружения (пароли, ключи)
.env
application-local.properties
sensitive.properties
