<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head(#{404.title})}"></head>
<body class="page-index">
<div class="page">

    <div th:replace="~{fragments/topbar :: topbar('/error/404')}"></div>

    <div class="welcome">
        <h1>404</h1>
        <p class="subtitle" th:text="#{404.subtitle}"></p>
    </div>

    <a th:href="@{/}" class="btn" style="display:block; text-align:center; text-decoration:none; max-width:200px;" th:text="#{404.back}"></a>

</div>
</body>
</html>