<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<doby>
    <h2>Вход</h2>
    <div th:if="${param.error}">
        <p style="color:red;">Неверный логин или пароль</p>
    </div>
    <div th:if="${param.logout}">
        <p style="color:green;">Вы вышли из системы</p>
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <label>Логин: <input type="text" name="username"/></label>
        </div>
        <div>
            <label>Пароль: <input type="password" name="password"/></label>
        </div>
        <button type="submit">Войти</button>
    </form>
</doby>
</html>